article{
    background-image: url("../img/nikolaTesla_opacity.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

}




@media only screen and (min-width: 640px){

    article{
        background-image: none;
    }
    body{
        background-image: url("../img/nikolaTesla_opacity.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size:auto;
    
    }
}
