

@import 'variables.scss';
/* se pretence un stack en movil a ancho completo y una caja centrada en pantalla grande */

a{
    display:block;
    text-decoration: none;
    font-size: 1.3em;
    color: $colorLetraInverso;
    padding-top:0.5em;
    
    &:hover{
        color:$colorLetraResalte;
        //transform: translateX(10%);
        //padding-left:3em;;
    }
  }
  






@media only screen and (min-width: $anchomediaquery){

    article{
       max-width:60%;
       margin:0 auto;
       //background-color: yellowgreen;
    }
 
}
