@import "variables.scss";


a{
    display:block;
    text-decoration: none;
    font-size: 1.3em;
    color: $colorLetraInverso;
    padding-top:0.5em;
    
    &:hover{
        color:$colorLetraResalte;
        transform: translateY(-0.3em);
    }
  }
  


footer{
    padding-top:2em;
    padding-bottom: 2em;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

    .footer__enlaces {
        flex-basis: 100%;
        text-align: center;
        animation: bounceIn 2s;

        h2{
            display: block;
            background-color: black;
            padding: 0;
            border-radius: 50%;
            text-align: center;
        }
        a{
            //padding-left: 5em;
        }
    }
    .footer__cajaLogo{
        overflow: hidden;
        svg{
            width:100%;
            // background-color: yellow;

           
        }
    }
}


@media only screen and (min-width: $anchomediaquery ){
    a{     
        &:hover{
            transform: translateX(2em);
        }
      }
      
    
    footer{
        div{
            min-width: 30%;
            min-width: 30%;
            max-width: 3%;
            padding:1em;
          
        }
        .footer__enlaces{
            min-width: 30%;
            min-width: 30%;
            max-width: 3%;
            padding:1em;
            border: 1px solid black;
            border-radius: 10%;
            background-color: $colorfondoTitulo;
            
            h2{
                padding: 0;
                text-align: center;
            }
            a{
                padding-left: 2em;
                padding-right: 2em;
            }
        }
        
    }
}


@media only screen and (min-width: 1200px){
    a{
        padding-top:0.4em;
    }
    footer{
        .footer__cajaLogo{
          
        }
    }
}