
@import "variables.scss";

    header{
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;  
       
    }
    .header__logo{
        flex-basis: 100%;
        
        background-image: url("../img/logo.svg");
        background-size: cover;
        background-repeat: no-repeat;
        background-size: auto 100% ;
       //background-color: yellow;
      
       
       
    }
    .header__cajaTitulo{
        flex-basis: 100%;
        font-size: 2em;
       // background-color: green;
    }
 
    .header__titulo{
        font-family: 'Ms Madi', cursive;
        font-size: 1.8em;
        color: $colorLetraResalte;
        animation: bounceIn 2s;
        animation-delay: 1s;
    }

@media only screen and (min-width: $anchomediaquery){
    .header__logo{
        flex-basis: 20%;    
        img{
            animation: tamaño 3s infinite;
       }
    }

    .header__cajaTitulo{
        flex-basis:75%;
    }

    .header__titulo{
        font-size: 3em;
    }
}
