/*
font-family: 'Akshar', sans-serif; //normal
font-family: 'Indie Flower', cursive; //pies de foto
font-family: 'Ms Madi', cursive; //titulos
*/
@import './variables.scss';


.imageToClip{
    display: block;
    margin:0 auto;
    width: auto;
    height:auto;
    max-height: 60vh;
    clip-path: polygon(5% 5%, 30% 15%, 60% 0%, 100% 25%, 85% 60%,100% 100%,45% 50%,0% 75%,25% 33% );
}




/* ********************************************************* */
/* estructura mobile first*/


article{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
 }
   
 
 .caja1{
    flex-basis: 100%;
    max-height: 1vh;
  //  background-color: red;
    img{
        max-height: 100%;
        opacity:0.4;
    }
 }
 
 .caja2{
    flex-basis: 100%;
     //background-color: yellow;
 }
 
 @media only screen and (min-width: $anchomediaquery){
  
    article{
        align-content: center;
        align-items:inherit;
    }
     .caja1{
        flex-basis: 29%;
        max-height:50vh;
        img{
            opacity:1;
        }
     }
     
     .caja2{
        flex-basis: 70%;
     }
   
 }