
@import 'variables.scss';

/* la estructura del articulo será una caja con margen a los lados en pantalla grande y un stack en movil*/

article{
    margin-left: 2em;
    margin-right: 2em;
}

.caja1{
    background-image: url("../img/logo.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-size: auto 100% ;
}

@media only screen and (min-width: $anchomediaquery){
    article{
        margin-left: 15%;
        margin-right: 15%;
    }


}
