
.foto{
    margin:0 auto;
}

.caja1,
.foto2{
    text-align: center;
    display:flex;
    align-items: center;
}

.caja1 .foto img,
.caja1 img,
.foto2 img{
    display:block;
    width:80%;
    height: auto;
    margin:0 auto;
}

@media only screen and (min-width: 640px){
    .caja1 .foto img,
    .caja1 img{
        width:50%;
    }

    .foto2 img{
        display:block;
        width:30%;
        height: auto;
        margin:0 auto;
    }
}