@import "variables.scss";

.foto{
    text-align: center;
    padding-top:2em;
}
.foto img{
    width:30%;
    height:auto;
    display: block;
    margin:0 auto;
    border-radius: 40px;
}


.caja2{
    padding-top:2em;
    padding-left: 2em;
    padding-right: 2em;
    .foto2 {
        display:block;
        margin:0 auto;
        margin-top:1em;
        margin-bottom: 1em;
        text-align: center;
        padding-top:2em;
        padding-bottom:2em;
        width:60%;
        background-color: white;
        border-radius: 50px;

        img{
            width:100%;
            height:auto;
        }
    }    
}




@media only screen and (min-width: $anchomediaquery){
    .foto img{
        width:85%;
    }

    .caja2{
        .foto2 {
            width:30%;
        }   
    } 
}




/* wireframe. movil stack, portatil barra de titulo y debajo dos cajas en linea. primera foto, segunda texto */
article{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.caja0{
    flex-basis: 100%;
  //  background-color: green;
}
.caja1{
    flex-basis: 100%;
   // background-color: lightcoral;
}
.caja2{
    flex-basis: 100%;
    // background-color: lightgreen;
}

@media only screen and (min-width: $anchomediaquery){

    .caja0{
        flex-basis: 100%;
       // background-color: blue;
    }
    .caja1{
        flex-basis: 35%;
       // background-color: yellow;
    }
    .caja2{
        flex-basis: 65%;
       // background-color: red;
    }
}



/*
.foto{
    margin:0 auto;
}

.caja1,
.foto2{
    text-align: center;
    display:flex;
    align-items: center;
}

.caja1 .foto img,
.caja1 img,
.foto2 img{
    display:block;
    width:80%;
    height: auto;
    margin:0 auto;
}

@media only screen and (min-width: $anchomediaquery){
    .caja1 .foto img,
    .caja1 img{
        width:50%;
    }

    .foto2 img{
        display:block;
        width:30%;
        height: auto;
        margin:0 auto;
    }
}
*/